[submodule "submodules/youngflow"]
	path = submodules/youngflow
	url = https://github.com/Clouditera/Youngflow.git
[submodule "flows/vulnhunt"]
	path = flows/vulnhunt
	url = https://github.com/Clouditera/Vulnhunt-flow.git
