[submodule "submodules/youngflow"]
	path = submodules/youngflow
	url = https://github.com/Clouditera/Youngflow.git
[submodule "flows/vulnforge"]
	path = flows/vulnforge
	url = https://github.com/Clouditera/VulnForge-Flow.git
